body{
    background-color:#f0f8ff;
}
.menu li{
    float: left;
    margin:5px;
    color:#27ae60;
    
    
}
.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border:1px solid #27ae60;
    border-top:5px solid #27ae60 ;
    background: #27ae60;
    width: 150px;
    display: block;
    line-height: 25px;
    padding: 5px;
    text-align: center;
}
.menu a:hover{
    margin-top: 5px;
    border-top:5px solid #f39c12;
    color:#f39c12;
}
.araba{
    float: left;
    margin-top: 35px;
    color:#27ae60;
}
p{
    float: left;
    margin-top: 35px;
    color:#27ae60;
}
h2{
    color:#27ae60;
}
a{
    float: left;
    color:#27ae60;

}
img{
    float:left;
    border-radius: 50%;
}
img:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
     transform: scale(1.3); 
   }

   ul {
    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: #27ae60;
}

li {
    float: left;
}

li a {
    display: block;

    color: white;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;
}
.white{
    background:#f0f8ff;
}
ul li ul {
    display:none;
    position:absolute;
    width:100px
}
